<!-- Starter file provided by Instructor (03/09/2021) AC -->

<div class="column is-one-third is-flex">
    <div class='card notification is-warning'>
        <div class="card-content is-size-3">
            <h2>{{ name }}</h2>
            <h3><i class="fas fa-user-graduate mr-2"></i>{{ role }}</h3>
        </div>
        <div class='is-size-4'>
            <ul>
                <li>ID: {{ id }}</li>
                <li>Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
                <li>School: {{ school }}</li>
            </ul>
        </div>
    </div>
</div>